@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
.header {
  background-color: #ffffff;
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: center;
  .content {
    padding-top: 90px;
    width: 1200px;
    display: flex;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    align-items: center;
    padding-bottom: 70px;
    header {
      .title {
        font-size: 1.5rem;
        font-weight: 700;
        font-size: 2.5rem;
        width: 450px;
        a {
          color: $content;
        }
      }
      .description {
        font-size: 1rem;
        font-weight: 300;
        width: 550px;
        padding-top: 20px;
        padding-bottom: 40px;
      }
      .buttons {
        button {
          margin-right: 20px;
        }
      }
    }
    picture {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
