@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.angle {
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: $content;
  animation: bounce 1s ease infinite;
}
.angle:hover {
  cursor: pointer;
}
@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.header {
  background-color: #ffffff;
  width: 100%;
  height: calc(100% - 109px);
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
  .content {
    padding-top: 0px;
    width: 1200px;
    display: flex;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    margin-left: 80px;
    align-items: center;
    padding-bottom: 150px;
    header {
      .title {
        font-size: 1.5rem;
        font-weight: 700;
        font-size: 2.5rem;
        width: 450px;
        a {
          animation: gradient 5s ease-in-out infinite;
          background: linear-gradient(to right, black, gray, #2193b0, #5663d4);
          background-size: 300%;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .description {
        font-size: 1rem;
        font-weight: 300;
        width: 550px;
        padding-top: 20px;
        padding-bottom: 40px;
      }
      .buttons {
        button {
          margin-right: 20px;
        }
      }
    }
    picture {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.img {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 0;
  transform: scale(1.5);
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@media (max-width: 1250px) {
  .header {
    .content {
      width: 1000px;
    }
  }
}

@media (max-width: 1000px) {
  .angle {
    display: none;
  }
  .header {
    padding-top: 120px;
    height: 400px;

    .content {
      margin-left: 0px;
      width: 800px;
      header {
        .title {
          font-size: 1.5rem;
        }
        .description {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .angle {
    display: none;
  }
  .header {
    padding-top: 120px;
    height: 400px;
    .content {
      margin-left: 70px;
      width: 800px;
      header {
        word-wrap: wrap;
        width: 400px;
        .title {
          width: 340px;
          font-size: 1.5rem;
        }
        .description {
          width: 400px;
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .angle {
    display: none;
  }
  .header {
    padding-top: 40px;
    height: auto;
    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-left: 0px;
      header {
        margin-bottom: 100px;
        word-wrap: wrap;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .title {
          font-size: 1.5rem;
          width: 340px;
        }
        .description {
          margin-bottom: 0px;
          width: 600px;
          font-size: 1.1rem;
        }
        .buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            margin: 0px !important;
            margin-left: 5px !important;
            margin-right: 5px !important;
          }
        }
      }
      .img {
        div {
          width: 200px !important;
        }
      }
    }
  }
}

@media (max-width: 624px) {
  .header {
    .content {
      header {
        .description {
          width: 420px;
        }
      }
    }
  }
}

@media (max-width: 454px) {
  .header {
    .content {
      header {
        .title {
          font-size: 1.2rem;
        }
        .description {
          width: 350px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .header {
    .content {
      header {
        .title {
          width: 250px;
          font-size: 1.1rem;
        }
        .description {
          font-size: 0.8rem;
          width: 250px;
        }
      }
      .img {
        div {
          width: 150px !important;
        }
      }
    }
  }
}
