@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
.header {
  background-color: #ffffff;
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: center;
  .content {
    padding-top: 150px;
    width: 1200px;
    display: flex;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    align-items: center;
    padding-bottom: 150px;
    header {
      .title {
        font-size: 1.5rem;
        font-weight: 700;
        font-size: 2.5rem;
        width: 450px;
        a {
          animation: gradient 5s ease-in-out infinite;
          background: linear-gradient(to right, black, gray, #2193b0, #5663d4);
          background-size: 300%;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .description {
        font-size: 1rem;
        font-weight: 300;
        width: 550px;
        padding-top: 20px;
        padding-bottom: 40px;
      }
      .buttons {
        button {
          margin-right: 20px;
        }
      }
    }
    picture {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.img {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
