.wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  transform: translateY(-40px);
  justify-content: space-around;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    margin-top: 0px;
    padding: 10px;
    font-size: 1rem;
    width: 355px;
  }
}
