@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
.active {
  color: $content;
}
.line {
  height: 107px;
}
.diving {
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  top: 0%;
  width: 100%;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  z-index: 99;
  section {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}
.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease;
  padding-top: 9px;
  padding-bottom: 9px;
  section {
    padding-left: 20px;
    padding-right: 20px;
    width: 1200px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    flex-direction: row;
  }
  .author {
    font-size: 1.3rem;
    flex-grow: 1;
    transition: 0.1s ease;
    font-weight: 700;
    :first-child {
      color: $content;
    }
  }
  .author:hover {
    cursor: pointer;
    filter: blur(0.5px);
  }
  nav {
    margin-right: 25px;
    ul {
      color: #52526f;
      display: flex;
      list-style-type: none;
      justify-content: center;
      align-items: center;
      li {
        padding-left: 10px;
        padding-right: 10px;
        transition: 0.1s ease;
      }
      li:hover {
        cursor: pointer;
        color: gray;
      }
    }
  }
}

.button {
  background-color: $content;
  border: 3px solid $content;
  border-radius: 6px;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  transition: 0.1s ease;
  padding: 12px;
  padding-left: 18px;
  padding-right: 18px;
  svg {
    transform: scale(1.5);
  }
  p {
    padding: 0px;
  }
}
.button:hover {
  cursor: pointer;
  background-color: transparent;
  color: $content;
  border: 3px solid $content;
}

.buttonNav {
  background-color: $content;
  border: 3px solid $content;
  border-radius: 6px;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  transition: 0.1s ease;
  width: 103px;
  margin-left: 25px;
  padding: 12px;
  padding-left: 18px;
  padding-right: 18px;
  svg {
    transform: scale(1.5);
  }
  p {
    padding: 0px;
  }
}
.buttonNav:hover {
  cursor: pointer;
  background-color: transparent;
  color: $content;
  border: 3px solid $content;
}

.burger {
  display: none;
}

.mobileNav,
.mobileNavRight {
  width: 300px;
  display: none;
  position: fixed;
  right: 0%;
  top: 109px;
  transition: 0.3s ease;
  height: calc(100% - 74px);
  background-color: #27272a;
  z-index: 3;
  ul {
    margin-top: 40px;
    list-style-type: none;
    color: white;
    display: flex;
    list-style-type: none;
    font-family: "Rubik", sans-serif;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    padding-left: 25px;
    flex-direction: column;
    li {
      margin-bottom: 30px;
      font-size: 1.4rem;
      border-left: 1px solid $content;
      font-weight: 300;
      padding-left: 10px;
      padding-right: 10px;
      transition: 0.1s ease;
    }
    li:hover {
      cursor: pointer;
      color: gray;
    }
  }
}

.mobileNavDown {
  transform: translateY(-35px) !important;
}

.mobileNavRight {
  transform: translateX(400px) !important;
}

@media (max-width: 1000px) {
  .navbar {
    section {
      nav,
      .button {
        display: none;
      }
    }
  }
  .mobileNav,
  .mobileNavRight {
    display: block;
  }
  .burger {
    display: block;
  }
}
