@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
.wrapper {
  background-color: white;
  font-family: "Rubik", sans-serif;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 8px 7px 43px -19px rgb(141, 149, 255);
  align-items: center;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  .imgPreview {
    width: 70%;
    overflow: hidden;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      transition: 0.1s ease;
    }
    img:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  .info {
    margin-left: 35px;
    width: 800px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 140px;
    .top {
      display: flex;
      align-items: center;
      .title {
        font-size: 2rem;
        color: $content;
        font-weight: 600;
        white-space: nowrap;
      }
      .techStack {
        display: flex;
        img {
          border-radius: 0px;
        }
      }
      .badge {
        padding: 7px;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
        margin-left: 20px;
        border-radius: 7px;
        background-color: $content;
      }
    }
    .description {
      flex-grow: 1;
      color: rgb(73, 73, 73);
      font-weight: 400;
      margin-top: 10px;
      font-size: 1rem;
      margin-bottom: 40px;
      width: 70%;
    }
    .buttons {
      button {
        margin-right: 20px;
      }
    }
  }
  .mobilebuttons {
    display: none;
  }
}

@media (max-width: 1250px) {
  .wrapper {
    .imgPreview {
      width: 500px;
      flex-grow: 1;
      img:hover {
        cursor: pointer;
        transform: none;
      }
    }
    .info {
      width: 500px;
    }
  }
}

@media (max-width: 1212px) {
  .wrapper {
    width: 580px;
    flex-direction: column;
    .imgPreview {
      width: 450px;
      flex-grow: 1;
      img {
        border-radius: 10px;
      }
      img:hover {
        cursor: pointer;
        transform: none;
      }
    }
    .info {
      margin: 0px;
      margin-top: 30px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .description {
        margin-bottom: 14px;
      }
      .buttons {
        display: none;
      }
    }
    .info {
      justify-content: center;
    }
    .mobilebuttons {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 670px) {
  .wrapper {
    width: 500px;
    flex-direction: column;
    .imgPreview {
      width: 350px;
      flex-grow: 1;
      img {
        border-radius: 10px;
      }
      img:hover {
        cursor: pointer;
        transform: none;
      }
    }
    .info {
      margin-bottom: 0px;
      .top {
        .title {
          font-size: 1.5rem;
        }
      }
      .description {
        margin-bottom: 14px;
      }
      .buttons {
        display: none;
      }
    }
    .mobilebuttons {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      button {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 530px) {
  .wrapper {
    width: 440px;
    flex-direction: column;
    .imgPreview {
      width: 350px;
      flex-grow: 1;
      img {
        border-radius: 10px;
      }
      img:hover {
        cursor: pointer;
        transform: none;
      }
    }
    .info {
      margin-bottom: 0px;
      .top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .techStack {
          margin-top: 10px;
          div {
            margin-left: 0px;
            margin-right: 10px;
          }
        }
        .title {
          font-size: 1.5rem;
        }
      }
      .description {
        margin-bottom: 14px;
      }
      .buttons {
        display: none;
      }
    }
    .info {
    }
    .mobilebuttons {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      button {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 400px;
    flex-direction: column;
    .imgPreview {
      width: 250px;
      flex-grow: 1;
      img {
        border-radius: 10px;
      }
      img:hover {
        cursor: pointer;
        transform: none;
      }
    }
    .info {
      width: 450px;
      margin-bottom: 0px;
      .top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .techStack {
          margin-top: 10px;
          div {
            margin-left: 0px;
            margin-right: 10px;
          }
        }
        .title {
          font-size: 1.5rem;
        }
      }
      .description {
        margin-bottom: 14px;
      }
      .buttons {
        display: none;
      }
    }
    .info {
    }
    .mobilebuttons {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      button {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 435px) {
  .wrapper {
    width: 380px;
    flex-direction: column;
    .imgPreview {
      width: 250px;
      flex-grow: 1;
      img {
        border-radius: 10px;
      }
      img:hover {
        cursor: pointer;
        transform: none;
      }
    }
    .info {
      width: 420px;
      margin-bottom: 0px;
      .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        .techStack {
          margin-top: 10px;
          div {
            margin-left: 0px;
            margin-right: 10px;
          }
        }
        .title {
          font-size: 1.2rem;
          text-align: center;
        }
      }
      .description {
        margin-bottom: 14px;
        font-size: 0.8rem;
      }
      .buttons {
        display: none;
      }
    }
    .info {
    }
    .mobilebuttons {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      button {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 390px) {
  .wrapper {
    width: 340px;
    flex-direction: column;
    .imgPreview {
      width: 250px;
      flex-grow: 1;
      img {
        border-radius: 10px;
      }
      img:hover {
        cursor: pointer;
        transform: none;
      }
    }
    .info {
      width: 360px;
      margin-bottom: 0px;
      .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        .techStack {
          margin-top: 10px;
          div {
            margin-left: 0px;
            margin-right: 10px;
          }
        }
        .title {
          font-size: 1.2rem;
          text-align: center;
        }
      }
      .description {
        margin-bottom: 14px;
        font-size: 0.8rem;
      }
      .buttons {
        display: none;
      }
    }
    .info {
    }
    .mobilebuttons {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      button {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 355px) {
  .wrapper {
    width: 300px;
    flex-direction: column;
    .imgPreview {
      width: 220px;
      flex-grow: 1;
      img {
        border-radius: 10px;
      }
      img:hover {
        cursor: pointer;
        transform: none;
      }
    }
    .info {
      width: 360px;
      margin-bottom: 0px;
      .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        .techStack {
          margin-top: 10px;
          div {
            margin-left: 0px;
            margin-right: 10px;
          }
        }
        .title {
          font-size: 1.2rem;
          text-align: center;
        }
      }
      .description {
        margin-bottom: 14px;
        font-size: 0.8rem;
      }
      .buttons {
        display: none;
      }
    }
    .info {
    }
    .mobilebuttons {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      button {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}
