@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
.wrapper {
  background-color: white;
  font-family: "Rubik", sans-serif;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 8px 7px 43px -19px rgb(141, 149, 255);
  align-items: center;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  .imgPreview {
    width: 70%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .info {
    margin-left: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 140px;
    .top {
      display: flex;
      align-items: center;
      .title {
        font-size: 2rem;
        color: $content;
        font-weight: 600;
        white-space: nowrap;
      }
      .techStack {
        display: flex;
        img {
          border-radius: 0px;
        }
      }
      .badge {
        padding: 7px;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
        margin-left: 20px;
        border-radius: 7px;
        background-color: $content;
      }
    }
    .description {
      flex-grow: 1;
      color: rgb(73, 73, 73);
      font-weight: 400;
      margin-top: 10px;
      font-size: 1rem;
      margin-bottom: 40px;
      width: 70%;
    }
    .buttons {
      button {
        margin-right: 20px;
      }
    }
  }
}
