@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
.footerwrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  width: 1200px;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-top: 80px;
  padding-bottom: 40px;
  .tlt {
    flex-grow: 1;
  }
  .title {
    font-size: 1.4rem;
    font-weight: 700;
    width: 450px;
    a {
      color: $content;
    }
  }
}
