@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  align-items: center;
  color: white;
  background: url("/assets/background3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  .contact {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .info {
      padding-top: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
      text-align: center;
      margin-bottom: 25px;
      .title {
        font-weight: 700;
        font-size: 1.3rem;
        color: $content;
      }
      .line {
        background-color: $content;
        width: 80px;
        height: 3px;
        margin-bottom: 20px;
      }
      .lowertitle {
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 12px;
      }
      .description {
        font-weight: 300;
        font-size: 1.1rem;
        line-height: 1.3rem;
        a {
          background-color: white;
          color: $content;
          border-radius: 3px;
        }
      }
    }
    .bottom {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 120px;
      align-items: center;
      .form {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 8px 7px 43px -19px rgb(9, 9, 12);
        width: 700px;
        background-color: white;
        color: rgb(55 65 81);
        .input {
          margin-bottom: 12px;
          display: flex;
          flex-direction: column;
          input,
          textarea {
            margin-top: 5px;
            border-radius: 5px;
            border: 3px solid #e5e7eb;
            background-color: #f4f9f4;
            resize: none;
            font-family: "Rubik", sans-serif;
            padding: 8px;
          }
          input {
            font-size: 1rem;
          }
          input:focus,
          textarea:focus {
            outline: none;
            border: 3px solid $content;
          }
        }
        .inputCheck {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          margin-top: 15px;
          margin-bottom: 25px;
          input {
            border: 1px solid black;
            margin-top: 4px;
            margin-right: 10px;
          }
          input:hover {
            cursor: pointer;
          }
        }
      }
      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
      }
    }
  }
}

.buttons {
  button {
    svg {
      margin-left: 6px;
    }
  }
}
