@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.section {
  background-color: #f4f9f4;
  display: flex;
  padding-top: 80px;
  justify-content: center;
  padding-bottom: 120px;
  font-family: "Rubik", sans-serif;

  .sectionContent {
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .content {
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 50px;
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .textAlign {
      width: 100%;
      text-align: left;
      .title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        p {
          color: $content;
          font-weight: 700;
          font-size: 1.4rem;
        }
      }
      .lowertitle {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 0px;
      }
      .description {
        a {
          color: $content;
        }
      }
    }
    .text {
      width: 800px;
      text-align: CENTER;
      .title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        p {
          color: $content;
          font-weight: 700;
          font-size: 1.4rem;
        }
        .line {
          background-color: $content;
          width: 80px;
          height: 3px;
        }
      }
      .lowertitle {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 15px;
      }
      .description {
        a {
          color: $content;
        }
      }
    }
  }
}

@media (max-width: 1310px) {
  .section {
    .sectionContent {
      .content {
        padding-top: 50px;
      }
      .textAlign {
        padding-left: 50px;
      }
    }
  }
}

@media (max-width: 1210px) {
  .section {
    .sectionContent {
      width: 1000px;
      .textAlign {
        margin-left: 0px;
        padding-left: 30px;
        width: 100%;
        transform: translateY(30px);
      }
    }
  }
}

@media (max-width: 1020px) {
  .section {
    .sectionContent {
      width: 800px;
    }
  }
}

@media (max-width: 820px) {
  .section {
    .sectionContent {
      width: 700px;
      .text {
        width: auto;
      }
      .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 720px) {
  .section {
    padding-bottom: 50px;
    .sectionContent {
      width: 600px;
    }
  }
}

@media (max-width: 620px) {
  .section {
    .sectionContent {
      width: 550px;
    }
  }
}

@media (max-width: 570px) {
  .section {
    .sectionContent {
      width: 500px;
    }
  }
}

@media (max-width: 520px) {
  .section {
    .sectionContent {
      width: 450px;
    }
  }
}

@media (max-width: 470px) {
  .section {
    .sectionContent {
      width: 400px;
      .textAlign {
        .title {
          margin-bottom: 8px;
          p {
            font-size: 1.2rem;
          }
        }
        .lowertitle {
          font-size: 1.4rem;
        }
        .description {
          font-size: 1rem;
        }
      }
      .text {
        .title {
          margin-bottom: 8px;
          p {
            font-size: 1.2rem;
          }
        }
        .lowertitle {
          font-size: 1.4rem;
        }
        .description {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .section {
    .sectionContent {
      width: 350px;
    }
  }
}

@media (max-width: 370px) {
  .section {
    .sectionContent {
      width: 300px;
    }
  }
}

@media (max-width: 320px) {
  .section {
    .sectionContent {
      width: 250px;
    }
  }
}

@media (max-width: 450px) {
  .section {
    .sectionContent {
      .textAlign {
        padding-left: 15px;
      }
    }
  }
}

@media (max-width: 370px) {
  .section {
    .sectionContent {
      .textAlign {
        width: 80%;
        padding-left: 10px;
      }
    }
  }
}
