@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";
.preview {
  width: 350px;
  display: flex;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  -webkit-box-shadow: 8px 7px 43px -19px rgba(141, 149, 255, 1);
  -moz-box-shadow: 8px 7px 43px -19px rgba(141, 149, 255, 1);
  box-shadow: 8px 7px 43px -19px rgba(141, 149, 255, 1);
  div {
    width: 100%;
    margin-right: 0px;
  }
  .image {
    height: 100%;
    overflow: hidden;
    img {
      transition: 0.3s ease;
    }
    img:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  .content {
    height: 100%;
    padding: 20px;
    padding-top: 0px;
    margin-top: 16px;
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    .tags {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding-top: 20px;
      .tag {
        margin-right: 5px;
        font-size: 0.7rem;
        background-color: $content;
        color: white;
        text-align: center;
      }
    }
    .info {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin-top: 18px;
      flex-grow: 1;
      p {
        padding: 0px;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          color: $content;
          margin-right: 2px;
          font-size: 1.2rem;
          margin-bottom: 5px;
        }
        a {
          margin-bottom: 5px;
          margin-left: 3px;
        }
      }
    }
    .title {
      margin-left: 3px;
      margin-bottom: 5px;
      font-size: 1rem;
      font-weight: 500;
    }
    .description {
      margin-top: 12px;
      margin-left: 3px;
    }
    .readLink {
      color: $content;
      margin-top: 10px;
      margin-left: 7px;
      transition: 0.1s ease;
    }
    .readLink:hover {
      cursor: pointer;
      transform: scale(1.1) translateX(10px);
    }
  }
}
